@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Display', sans-serif;
    letter-spacing: 1px;
    scroll-behavior: smooth;
}

body {
    background-color: #303030;
}

header {
    padding: 3rem 8rem 0 6rem;
    background-color: #212121;
}

.ul-header {
    display: flex;
    list-style: none;
}

.logo {
    width: 8rem;
    border-radius: 25px;
}

.nav-container-links {
    display: flex;
    justify-content: end;
    width: 100%;
    align-items: center;
}

.nav-anchor {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 3rem;
    position: relative;
    margin: 0 1rem;
}
.nav-anchor::before {
    content: "";
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 0;
    height: 4px;
    border-radius: 20px;
    transition: 0.5s ease-in-out;
}
.nav-1:hover::before {
    width: 100%;
    background-color: #E73563;
}

.nav-2:hover::before {
    width: 100%;
    background-color: #34e7e7;
}

#welcome-section {
    display: flex;
    justify-content: space-evenly;
    padding: 0 6rem;
    height: 100vh;
    background-color: #212121;
}

.containerBtnContacto {
    padding-top: 3rem;
}

.title{ 
    font-size: 50px;
    color: white;
}

.efectoHover1:hover {
    color: #34e7e7;
    transition: ease-in 0.25s;
}

.efectoHover2:hover {
    color: #E73563;
    transition: ease-in 0.25s;
}

.efectoHover3:hover {
    color: #348ee7;
    transition: ease-in 0.25s;
}

.efectoHover4:hover{
    color: #34e78e;
    transition: ease-in 0.25s;
}

.nombreSubrayado {
    color: #E73563;
    font-size: 130px;
}

.btn-contacto {
    padding: 1rem;
    border-radius: 18px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border: solid 2px white;
}

.btn-contacto:hover {
    background-color: #E73563;
    color: white;
    transition: all ease 2.5s;
    border: none;
    border-bottom: white 2px solid;
    font-weight: 600;
    padding: 1rem 17rem;
    font-size: 18px;
}

.foto-alan {
    width: 36rem;
}

#projects {
    height: 100vh;
}

.titulo-proyectos{
    color: white;
    text-align: center;
    padding: 4rem;
    font-size: 30px;
}

.swiper {
    width: 90%;
    height: 450px;
    padding-top: 3rem;
    background-color: #212121;
    border-radius: 5px;
}

.swiper-slide {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 600px;
    height: 400px;
}

.contenedorProyectos {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagenesProyectos {
    width: 800px;
    box-shadow: 12px 11px 13px -2px rgba(0,0,0,0.6);
}

.capaProyectos {
    position: absolute;
    top: 0;
    left: -0.5px;
    width: 101%;
    height: 100%;
    background-color: rgba(0,0,0,1);
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.capaProyectos:hover {
    opacity: 1;
    transition: all ease-out 1s;
}

.nombreProyecto{
    font-size: 40px;
    color: #E73563;
    font-family: 'Mate SC', serif;
    letter-spacing: 2px;
    text-align: center;
}

.textoDelServicio{
    color: white;
    padding: 3rem;
    text-align: center;
}

.swiper-button-prev, .swiper-button-next{
    color: #34e7e7;
}

.swiper-pagination-bullet {
    background-color: #34e7e7;
    width: 15px;
    height: 15px;
}

.seccionHabilidadesContacto {
    background-color: #212121;
}

.containerHabilidades {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3rem;
}

.tituloHabilidades {
    color: white;
    padding: 4rem;
    font-size: 30px;
}

.contenedorTextosHabilidades {
    border: solid #34e7e7 3px;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    animation-name: colorBorde;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.textoHabilidad {
    font-size: 16px;
    color: white;
    padding: 2rem;
    animation-name: colorTexto;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes colorTexto{
    0% {
        color: #E73563;
    }
    50% {
        color: #34e7e7;
        font-size: 23px;
    }
    100% {
        color: #E73563;
    }
}

@keyframes colorBorde{
    0% {
        border: #34e7e7 solid 3px;
    }
    50% {
        border: #E73563 solid 3px;
    }
    100% {
        border: #34e7e7 solid 3px;
    }
}

.containerContacto {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 4rem 2rem;
    align-items: center;
    padding-top: 7rem;
}

.containerContactoTitulo {
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.containerEmojisTitulo {
    display: flex;
}

.tituloContacto {
    color: white;
    text-align: center;
    margin-top: 2rem;
    font-size: 30px;
}

.tituloContactoCelular {
    display: none;
}

.emojis {
    height: 5rem;
}

.textoContacto {
    color: white;
    font-size: 20px;
    text-align: center;
    padding-top: 1rem;
}

.listaIzquierdaContacto{
    display: flex;
    padding-top: 7rem;
}

.containerListaContacto {
    display: flex; 
    align-items: center;
}

.listaItemsContacto {
    flex-direction: column;
}

.containerAnchorsContacto{
    display: flex;
    align-items: center;
}

.itemIconosContacto{
    list-style: none;
    padding: 1rem 0.9rem 0.7rem 0.9rem;
    color: aliceblue;
    margin: 1rem;
    margin-left: 6rem;
    background-color: #E73563;
    border-radius: 50%;
    cursor: pointer;
}

.itemIconosContacto:hover {
    background-color: #34e7e7;
}

.iconosContacto {
    width: 2rem;
}

.mediosContacto {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.mediosContacto:hover {
    text-decoration: underline;
}

.containerItemsContactoCelular {
    display: none;
}

@media only screen and (max-width: 480px) {
    body {
        padding: 0 0.1rem;
    }
    header{
        padding: 0;
    }
    .nav-container-links {
        margin: 2rem 0 3rem 0;
        flex-direction: column;
    }
    .nav-container-links li {
        margin: 1rem;
    }
    .nav-anchor {
        font-size: 25px;
    }
    .nav-anchor::before {
        display: none;
    }
    .nav-1, .nav-2 {
        padding: 0;
    }
    .nav-1:focus{
        color: #E73563;
    }
    .nav-2:focus {
        color: #34e7e7;
    }
    #welcome-section {
        flex-direction: column;
        padding: 0rem;
        height: auto;
    }
    .title{ 
        font-size: 40px;
        text-align: center;
    }
    .nombreSubrayado {
        font-size: 40px;
        text-align: center;
    }
    .efectoHover1:focus {
        color: #34e7e7;
        transition: ease-in 0.25s;
    }
    .efectoHover2:focus {
        color: #E73563;
        transition: ease-in 0.25s;
    }
    .efectoHover3:focus {
        color: #348ee7;
        transition: ease-in 0.25s;
    }
    .efectoHover4:focus{
        color: #34e78e;
        transition: ease-in 0.25s;
    }
    .containerBtnContacto {
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
    }
    .btn-contacto:focus, .btn-contacto:hover {
        padding: 1rem 4rem;
    }
    .containerImagenAlan{
        display: flex;
        justify-content: center;
    }
    .foto-alan{
        width: 20rem;
        margin-top: -3rem;
    }
    #projects {
        height: auto;
    }
    .swiper {
        width: 95%;
        height: 300px;
    } 
    .swiper-slide {
        width: 100%;
    }
    .imagenesProyectos {
        width: 500px;
    }
    .capaProyectos {
        width: 100%;
        height: 110%;
    }
    .capaProyectos:focus {
        opacity: 1;
        transition: all ease-out 1s;
    }
    .nombreProyecto{
        font-size: 20px;
        max-width: 300px;
    }
    .textoDelServicio{
        padding: 0rem;
        margin: 2rem 1rem;
        max-width: 300px;
        text-align: center;
        font-size: 10px;
    }
    .tituloHabilidades {
        text-align: center;
        padding: 1rem 0.5rem 3rem 0.5rem;
    }
    .contenedorTextosHabilidades {
        animation-duration: 2s;
    }
    .textoHabilidad {
        animation-name: colorTextoCelular;
        animation-duration: 2s;
    }

    @keyframes colorTextoCelular{
        0% {
            color: #E73563;
        }
        50% {
            color: #34e7e7;
            font-size: 18px;
        }
        100% {
            color: #E73563;
        }
    }
    .containerContacto {
        flex-direction: column;
        padding: 0;
    }
    .containerContactoTitulo {
        width: 100%;
    }
    .tituloContacto, .emojis, .containerItemsIzquierda, .containerListaContacto {
        display: none;
    }
    .tituloContactoCelular{ 
        display: block;
        text-align: center;
        color: white;
        padding: 2.5rem 0.5rem;
    }
    .textoContacto{
        font-size: 17px;
        text-align: center;
        padding: 0 0.5rem;
    }
    .listaIzquierdaContacto {
        flex-direction: column;
        padding: 0;
        padding-top: 2rem;
    }
    .itemIconosContacto {
        padding: 0.8rem 0.7rem 0.5rem 0.7rem;
        margin: 1rem;
    }
    .itemIconosContacto:focus {
        background-color: #34e7e7;
    }
    .mediosContacto {
        font-size: 17px;
    }
    .mediosContacto:focus {
        text-decoration: underline;
    }
    .containerItemsContactoCelular{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 481px) and (max-width: 800px) {
    body {
        padding: 0 0.2rem;
    }
    header{
        padding: 0;
    }
    .nav-container-links {
        margin: 2rem 0;
        justify-content: space-evenly;
    }
    .nav-container-links li {
        margin: 1rem;
    }
    .nav-anchor {
        font-size: 25px;
    }
    .nav-anchor::before {
        display: none;
    }
    .nav-1, .nav-2 {
        padding: 0;
    }
    .nav-1:focus{
        color: #E73563;
    }
    .nav-2:focus {
        color: #34e7e7;
    }
    #welcome-section {
        flex-direction: column;
        padding: 0rem;
        height: auto;
    }
    .title{ 
        font-size: 40px;
        text-align: center;
        margin-top: 2rem;
    }
    .nombreSubrayado {
        font-size: 40px;
        text-align: center;
    }
    .efectoHover1:focus {
        color: #34e7e7;
        transition: ease-in 0.25s;
    }
    .efectoHover2:focus {
        color: #E73563;
        transition: ease-in 0.25s;
    }
    .efectoHover3:focus {
        color: #348ee7;
        transition: ease-in 0.25s;
    }
    .efectoHover4:focus{
        color: #34e78e;
        transition: ease-in 0.25s;
    }
    .containerBtnContacto {
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
    }
    .btn-contacto:focus, .btn-contacto:hover {
        padding: 1rem 4rem;
    }
    .containerImagenAlan{
        display: flex;
        justify-content: center;
    }
    .foto-alan{
        width: 25rem;
        margin-top: -3rem;
    }
    #projects {
        height: auto;
    }
    .swiper {
        width: 95%;
        height: 300px;
    } 
    .swiper-slide {
        width: 100%;
    }
    .imagenesProyectos {
        width: 500px;
    }
    .capaProyectos {
        width: 100%;
        height: 100%;
    }
    .capaProyectos:focus {
        opacity: 1;
        transition: all ease-out 1s;
    }
    .nombreProyecto{
        font-size: 20px;
        max-width: 300px;
    }
    .textoDelServicio{
        padding: 0rem;
        margin: 1rem;
        max-width: 300px;
        text-align: center;
        font-size: 12px;
    }
    .tituloHabilidades {
        text-align: center;
        padding: 1rem 0.5rem 3rem 0.5rem;
    }
    .contenedorTextosHabilidades {
        animation-duration: 2s;
    }
    .textoHabilidad {
        animation-name: colorTextoCelular;
        animation-duration: 2s;
    }

    @keyframes colorTextoCelular{
        0% {
            color: #E73563;
        }
        50% {
            color: #34e7e7;
            font-size: 18px;
        }
        100% {
            color: #E73563;
        }
    }
    .containerContacto {
        flex-direction: column;
        padding: 0;
    }
    .containerContactoTitulo {
        width: 100%;
    }
    .tituloContacto, .emojis, .containerItemsIzquierda, .containerListaContacto {
        display: none;
    }
    .tituloContactoCelular{ 
        display: block;
        text-align: center;
        color: white;
        padding: 2.5rem 0.5rem;
    }
    .textoContacto{
        font-size: 17px;
        text-align: center;
        padding: 0 0.5rem;
    }
    .listaIzquierdaContacto {
        flex-direction: column;
        padding: 0;
        padding-top: 2rem;
    }
    .itemIconosContacto {
        padding: 0.8rem 0.7rem 0.5rem 0.7rem;
        margin: 1rem;
    }
    .itemIconosContacto:focus {
        background-color: #34e7e7;
    }
    .mediosContacto {
        font-size: 17px;
    }
    .mediosContacto:focus {
        text-decoration: underline;
    }
    .containerItemsContactoCelular{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 801px) and (max-width: 1200px) { 
    body {
        padding: 0 0.2rem;
    }
    #welcome-section {
        padding: 2rem;
    }
    .title{ 
        font-size: 27px;
        margin-top: 5rem;
    }
    .nombreSubrayado {
        font-size: 45px;
    }
    .containerBtnContacto {
        margin-bottom: 2rem;
    }
    .btn-contacto:hover {
        padding: 1rem 5rem;
    }
    .foto-alan{
        width: 28rem;
    }
    #projects {
        height: auto;
    }

    .tituloHabilidades {
        text-align: center;
        padding: 3.5rem;
    }
    .containerContacto {
        padding: 3rem;
    }
    .containerContactoTitulo {
        width: 100%;
        padding: 2rem;
    }
    .tituloContactoCelular{ 
        display: none;
    }
    .textoContacto{
        font-size: 17px;
        text-align: center;
        padding: 0 0.5rem;
    }
    .listaIzquierdaContacto {
        padding-top: 2rem;
    }
    .itemIconosContacto {
        padding: 0.8rem 0.7rem 0.5rem 0.7rem;
        margin: 1rem;
    }
    .itemIconosContacto:focus {
        background-color: #34e7e7;
    }
    .mediosContacto {
        font-size: 17px;
    }
    .containerItemsContactoCelular{
        display: none;
    }
    .listaItemsContacto {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        flex-direction: row;
    }
}

@media screen and (min-width: 1540px) and (max-width: 2500px) {        
    header {
        padding-top: 8rem;
    }
    .nav-anchor {
        font-size: 35px;
    }
    .title{ 
        font-size: 70px;
    }
    .nombreSubrayado {
        font-size: 140px;
    }
    .btn-contacto {
        padding: 1rem 2rem;
        font-size: 25px;
    }
    .btn-contacto:hover {
        padding: 1rem 19rem;
        font-size: 30px;
    }
    .foto-alan {
        width: 42rem;
    }
    .titulo-proyectos{
        font-size: 35px;
    }
    .swiper {
        width: 95%;
        height: 550px;
    }
    .swiper-slide {
        width: 800px;
        height: 500px;
    }
    .imagenesProyectos {
        width: 1000px;
    }
    .nombreProyecto{
        font-size: 45px;
    }
    .textoDelServicio{
        font-size: 25px;
    }
    .swiper-pagination-bullet {
        width: 20px;
        height: 20px;
    }   
    .tituloHabilidades {
        font-size: 35px;
    }
    .textoHabilidad {
        font-size: 20px;
    }
    @keyframes colorTexto{
        0% {
            color: #E73563;
        }
        50% {
            color: #34e7e7;
            font-size: 24.8px;
        }
        100% {
            color: #E73563;
        }
    }
    
    @keyframes colorBorde{
        0% {
            border: #34e7e7 solid 3px;
        }
        50% {
            border: #E73563 solid 3px;
        }
        100% {
            border: #34e7e7 solid 3px;
        }
    }      
    .tituloContacto {
        font-size: 35px;
    }
    .emojis {
        height: 6rem;
    }
    .textoContacto {
        font-size: 25px;
    }
    .iconosContacto {
        width: 2.5rem;
    }
    .mediosContacto {
        font-size: 25px;
    }
}
