@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Display', sans-serif;
    letter-spacing: 1px;
    scroll-behavior: smooth;
}

body {
    background-color: #303030;
}

header {
    padding: 3rem 8rem 0 6rem;
    background-color: #212121;
}

#navbar{
    position: fixed;
    top: 0;
}

.ul-header {
    display: flex;
    list-style: none;
}

.logo {
    width: 8rem;
    border-radius: 25px;
}

.nav-container-links {
    display: flex;
    justify-content: end;
    width: 100%;
    align-items: center;
}

.nav-anchor {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 3rem;
}

.nav-1:hover {
    color: #34e7e7;
}

.nav-2:hover {
    color: #E73563;
}

#welcome-section {
    display: flex;
    justify-content: space-evenly;
    padding: 0 6rem;
    height: 100vh;
    background-color: #212121;
}

.welcome-container-title {
    margin-top: 5rem;
}

.title{ 
    font-size: 50px;
    color: white;
}

.efectoHover1:hover {
    color: #34e7e7;
    transition: ease-in 0.25s;
}

.efectoHover2:hover {
    color: #E73434;
    transition: ease-in 0.25s;
}

.efectoHover3:hover {
    color: #348ee7;
    transition: ease-in 0.25s;
}

.efectoHover4:hover{
    color: #34e78e;
    transition: ease-in 0.25s;
}

.nombreSubrayado {
    color: #E73563;
    font-size: 130px;
}

.btn-contacto {
    padding: 1rem;
    border-radius: 18px;
    margin-top: 1.5rem;
    width: 10rem;
    font-size: 16px;
    font-weight: 600;
    background-color: transparent;
    color: white;
    border: solid 2px white;
    cursor: pointer;
}

.btn-contacto:hover {
    background-color: #E73563;
    color: white;
    transition: all ease 2s;
    border: none;
    border-bottom: white 2px solid;
    font-weight: 600;
}

.foto-alan {
    width: 36rem;
}

#projects {
    height: 100vh;
}

.titulo-proyectos{
    color: white;
    text-align: center;
    padding: 4rem;
    font-size: 30px;
}

.swiper {
    width: 90%;
    height: 450px;
    padding-top: 3rem;
    background-color: #212121;
    border-radius: 5px;
}

.swiper-slide {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 600px;
    height: 400px;
}

.contenedorProyectos {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.imagenesProyectos {
    width: 800px;
    box-shadow: 12px 11px 13px -2px rgba(0,0,0,0.6);
}

.capaProyectos {
    position: absolute;
    top: 0;
    left: -0.5px;
    width: 101%;
    height: 100%;
    background-color: rgba(0,0,0,1);
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.capaProyectos:hover {
    opacity: 1;
    transition: all ease-out 1s;
}

.nombreProyecto{
    font-size: 40px;
    color: #E73563;
    font-family: 'Mate SC', serif;
    letter-spacing: 2px;
    text-align: center;
}

.textoDelServicio{
    color: white;
    padding: 3rem;
    text-align: center;
}

.swiper-button-prev, .swiper-button-next{
    color: #34e7e7;
}

.swiper-pagination-bullet {
    background-color: #34e7e7;
    width: 15px;
    height: 15px;
}

.seccionHabilidadesContacto {
    background-color: #212121;
}

.containerHabilidades {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3rem;
}

.tituloHabilidades {
    color: white;
    padding: 4rem;
    font-size: 30px;
}

.contenedorTextosHabilidades {
    border: solid #34e7e7 3px;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    animation-name: colorBorde;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.textoHabilidad {
    font-size: 16px;
    color: white;
    padding: 2rem;
    animation-name: colorTexto;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes colorTexto{
    0% {
        color: #E73563;
    }
    50% {
        color: #34e7e7;
        font-size: 23px;
    }
    100% {
        color: #E73563;
    }
}

@keyframes colorBorde{
    0% {
        border: #34e7e7 solid 3px;
    }
    50% {
        border: #E73563 solid 3px;
    }
    100% {
        border: #34e7e7 solid 3px;
    }
}

.containerContacto {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 4rem;
    align-items: center;
    padding-top: 7rem;
}

.containerContactoTitulo {
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.containerEmojisTitulo {
    display: flex;
}

.tituloContacto {
    color: white;
    text-align: center;
    margin-top: 2rem;
    font-size: 30px;
}


.emojis {
    height: 5rem;
}

.textoContacto {
    color: white;
    font-size: 20px;
    text-align: center;
    padding-top: 1rem;
}

.listaIzquierdaContacto{
    display: flex;
    padding-top: 7rem;
}

.containerListaContacto {
    width: 50%;
    display: flex; 
    align-items: center;
}

.listaItemsContacto {
    flex-direction: column;
}

.containerAnchorsContacto{
    display: flex;
    align-items: center;
}

.itemIconosContacto{
    list-style: none;
    padding: 1rem 0.9rem 0.7rem 0.9rem;
    color: aliceblue;
    margin: 1rem;
    margin-left: 6rem;
    background-color: #E73563;
    border-radius: 50%;
    cursor: pointer;
}

.itemIconosContacto:hover {
    background-color: #34e7e7;
}

.iconosContacto {
    width: 2rem;
}

.mediosContacto {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.mediosContacto:hover {
    text-decoration: underline;
}

@media screen {
    
}